{% comment %}
  Renders a product card item used in products list.

  Accepts:
    - product: {object} Product (required)

  Usage:
    {% render 'product-card' product: 'product' %}
{% endcomment %}


<div class="flex flex-col gap-y-2">
  <a href="{{ product.url }}" class="relative">
    {% if product.available == false %}
      <div class="absolute z-10 w-full top-0 left-0 flex justify-center pt-3">
        <span class="text-xs rounded-full text-white bg-black px-3 py-2">En rupture de stock</span>
      </div>
    {% endif %}

    {% if product.featured_image.id %}
      <div class="bg-[#F8F4EF] rounded flex justify-center items-center shrink-0 overflow-hidden">
        {% if product.available %}
          {{ product.featured_image
            | image_url: width: 640, height: 800
            | image_tag:
              class: "w-full aspect-[7.5/10] object-cover grayscale"
          }}
        {% else %}
          {{ product.featured_image
            | image_url: width: 640, height: 800
            | image_tag:
              class: "w-full aspect-[7.5/10] object-cover grayscale"
          }}
        {% endif %}
      </div>
    {% else %}
      <div class="w-full aspect-[7.5/10] bg-[#F8F4EF] rounded flex justify-center items-center shrink-0 overflow-hidden">
        <img class="w-2/3" src="{{ 'logo-oceneo-black.png' | asset_url }}" />
      </div>
    {% endif %}
  </a>
  
  <a href="{{ product.url }}" class="flex justify-between items-start gap-x-4 w-full">
    <div>
      <h2 class="apply-h4 leading-[0.8] mt-1">{{ product.title }}</h2>
      {% if product.has_only_default_variant == false %}
        <span class="text-xs text-gray-500 leading-none">(plusieurs options disponibles)</span>
      {% endif %}
    </div>

    <div data-spark="b2c-only" class="shrink-0">
      <span class="font-semibold text-[#FC9E4F] text-sm">
        {% if product.price_varies %}
          Dès 
        {% endif %}
        {{ product.price_min | money }}</span>
    </div>
  </a>

  <spark-product-card parent-id="{{ product.id }}"></spark-product-card>
</div>
