{% comment %}
  Renders a split section.

  Accepts:
    - title: {string} text (required)
    - title_position: {select} Position du titre (optional)
    - text: {string} text (required)
    - link_text: {string} text (optional)
    - link_to: {url} url (optional)

  Usage:
    {% render 'split-section-title', title: 'Lorem ipsum dolor sit amet', title_position: 'left', text: 'Lorem ipsum dolor sit amet', link_text: 'Lorem ipsum dolor sit amet', link_to: 'Lorem ipsum dolor sit amet' %}
{% endcomment %}

{% if title != blank and text != blank %}
    <div class="container">
        <section class="pb-24 grid grid-cols-1 justify-start gap-8 lg:grid-cols-2">
            {% if title_position == "left" %}
                <h2 class="pr-0 md:pr-12">{{ title }}</h2>
            {% endif %}
        
            <div class="flex flex-col items-start gap-y-6 md:gap-y-8">
                <div class="pt-1">
                    {{ text }}
                </div>
        
                {% if link_to != blank %}
                    <a href="{{ link_to }}" class="button-primary">
                        {{ link_text }}
                    </a>
                {% endif %}
            </div>

            {% if title_position == "right" %}
                <h2>{{ title }}</h2>
            {% endif %}
        </section>
    </div>
{% endif %}