{% comment %}
    Contenu de la section qui permet d'afficher les articles de blog

{% endcomment %}
 
<div class="container">
  {% render 'blog-featured' blog: blog %}

  {% paginate blog.articles by 6 %}
    <div class="pt-12 md:pt-10 pb-16">
      <h2 class="mb-4">Nos derniers articles</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8 md:gap-y-12">
        {% for article in blog.articles %}
          <div>
            {{ article.image | image_url: width: 1000 | image_tag: class: 'w-full aspect-[16/10] object-cover object-center rounded-md mb-3 shadow' }}

            <div>
              <a href="{{ article.url }}">
                {% assign publish_date = article.published_at | date: '%d %B %Y' %}
                <p class="font-semibold mb-2">{% render 'date-translate', dateString: publish_date, language: 'French' %}</p>
                <h3 class="mb-2">{{ article.title | strip_html | truncatewords: 14 }}</h3>
                <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
              </a>

              <div class="mt-4 flex flex-wrap gap-x-2 gap-y-1">
                {% for tag in article.tags %}
                  <a 
                    href="{{ blog.url }}/tagged/{{ tag | handle }}"
                    class="shrink-0 rounded-md px-3 py-2 sm:px-4 sm:py-2 font-medium bg-[#F1F1F1]"
                  >
                    <p>
                      {{ tag.title | capitalize }}
                    </p>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="mt-12 flex justify-center gap-x-2">
        {{ paginate | default_pagination }}
      </div>
    </div>
  {% endpaginate %}
</div>

{% javascript %}
  const query = new URLSearchParams(window.location.search);
  if(query.size > 0) {
    const page = query.get('page');
    if(page <= 1) {
      document.querySelector('#featuredBlog').classList.remove('hidden');
    }
  } else {
    document.querySelector('#featuredBlog').classList.remove('hidden');
  }
{% endjavascript %}

{% schema %}
{
  "name": "Articles List",
  "settings": [],
  "presets": [
    {
      "name": "Articles List",
    }
  ]
}
{% endschema %}