{% form 'cart', cart %}
    {% if section.settings.cover %}
        {% render 'header.template' cover:  section.settings.cover, title: "Mon panier" %}
    {% else %}
        {% render 'header.template' cover: "cart-cover.jpg" title: "Mon panier" %}
    {% endif %}

    <div class="container">
        <div class="pb-20">
            {% if cart.empty? %}
                <div class="flex flex-col items-center gap-y-2 pb-8">
                    <h3>Votre panier est vide</h3>
                    <p>Allez créer votre paire avant de bruler les étapes 😉</p>
                    
                    <div class="flex gap-x-3 pt-4">
                        <a class="button-primary" href="{{ settings.main_cta }}">Voir les lunettes</a>
                        <a class="button-secondary" href="{{ routes.root_url }}">Je retourne à l'accueil</a>
                    </div>
                </div>
            {% else %}
                <div class="flex flex-col lg:flex-row justify-between items-start gap-y-8 gap-x-10">
                    <div id="cart_list" class="max-w-[830px] w-full flex flex-col gap-y-10">
                        {% for item in cart.items %}
                            <div class="flex flex-col xs:flex-row xs:items-stretch justify-between gap-x-6 gap-y-3">
                                <div class="flex gap-x-3">
                                    {% if item.image != blank %}
                                        {{ item.image | image_url: width: 250 | image_tag: class:'self-center max-w-16 max-h-16 object-cover xs:max-w-24 xs:max-h-24 sm:max-w-32 sm:max-h-32 md:max-w-40 h-auto rounded object-contain' }}
                                    {% endif %}

                                    <div class="xs:hidden">
                                        <p class="product_title">{{ item.product.title }}</p>
                                        {% if item.variant.title != blank %}
                                            <p class="product_variant">{{ item.variant.title }}</p>
                                        {% endif %}
                                        <p class="">
                                            {{ item.quantity }} x {{ item.original_price | money }} 
                                            {% if item.original_price > item.final_price %}
                                                <strong class="line-through">({{ item.original_price | money }})</strong>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>

                                <div class="w-full flex flex-col xs:flex-row gap-y-1">
                                    <div class="flex flex-row xs:flex-col justify-between w-full">
                                        <div class="hidden xs:block">
                                            <p class="product_title">{{ item.product.title }}</p>
                                            {% if item.variant.title != blank %}
                                                <p class="product_variant">{{ item.variant.title }}</p>
                                            {% endif %}
                                            <p class="">
                                                {{ item.quantity }} x {{ item.original_price | money }} 
                                                {% if item.original_price > item.final_price %}
                                                    <strong class="line-through">({{ item.original_price | money }})</strong>
                                                {% endif %}
                                            </p>
                                        </div>
    
                                        <div class="w-full xs:w-auto">
                                            <div class="flex w-full xs:w-auto">
                                                <div class="update_quantity flex items-center justify-between xs:justify-start w-full xs:w-auto gap-x-4">
                                                    {% comment %} Quantity input with plus / minus buttons {% endcomment %}
                                                    <div class="flex">
                                                        <button type="button" id="sub" class="sub border-[0.5px] border-black border-opacity-10 text-[16px] h-6 p-0 rounded aspect-square">-</button>
                                                        <span class="w-8 text-center item_quantity_display">
                                                            <span class="text-[16px]">{{ item.quantity }}</span>
                                                            <input type="hidden" class="item_quantity" name="updates[]" value="{{ item.quantity }}" />
                                                        </span>
                                                        <button type="button" id="add" class="add border-[0.5px] border-black border-opacity-10 text-[16px] h-6 p-0 rounded aspect-square">+</button>
                                                    </div>
    
                                                    <button class="shadow-none hover:shadow-none text-[16px] underline p-0" type="submit">Modifier la quantité</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="flex flex-row xs:flex-col justify-between">
                                        <p>{{ item.price | money }}</p>
                                        
                                        {% comment %} Do not move this element 👇 further in the incrementation because it will not working anymore {% endcomment %}
                                        <a href="{{ item.url_to_remove }}" class="text-[16px] underline">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
    
                    <div id="cart_total" class="shrink-0 w-full lg:max-w-[350px] flex flex-col-reverse md:flex-col gap-y-2 lg:gap-y-6 sticky top-28 px-6 py-4 lg:px-4 lg:pt-2 lg:pb-4 bg-white border border-gray-200 rounded">
                        <div class="flex flex-col gap-y-2">
                            {% if cart.total_discount > 0 %}
                                <div class="flex flex-col gap-y-1 pb-2">
                                    <div class="flex justify-between items-center">
                                        <h2 class="text-[24px]">Article(s)</h2>
                                        <p class="cart-price">{{ cart.items_subtotal_price | money }}</p>
                                    </div>
        
                                    <div class="flex justify-between items-center">
                                        <h2 class="text-[24px]">Réductions</h2>
                                        <p class="cart-price">{{ cart.total_discount | money }}</p>
                                    </div>
                                </div>
                                
                                <div class="flex justify-between items-center pt-3 border-t border-[#C4C4C4]">
                            {% endif %}
                            
                            <div class="flex justify-between items-center w-full">
                                <h2 class="text-[40px]">Total</h2>
                                <p class="cart-price">{{ cart.total_price | money }}</p>
                            </div>
                        </div>
    
                        <div class="flex flex-col gap-y-2">
                            <small class="text-[#373737] text-[12px]">Les frais de livraison seront calculés lors de la prochaine étape</small>
                            <button class="button-primary lg:is-heading-font w-full rounded-none lg:rounded border-0 border-t border-[#ffffff55] lg:border-0 fixed bottom-0 left-0 right-0 lg:static" type="submit" name="checkout" value="checkout">Valider mon panier</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endform %}

{% stylesheet %}
    .cart-price {
        font-family: "Bricolage Grotesque", sans-serif;
        font-variation-settings: "wdth" 80, "wght" 800;
        text-transform: uppercase;
        line-height: 110%;
        font-size: 28px;
    }
{% endstylesheet %}

{% javascript %}
    document.querySelectorAll('.add').forEach(item => {
        item.addEventListener('click', event => {
            const quantityDisplay = item.previousElementSibling.querySelector('span');
            const quantity = item.previousElementSibling.querySelector('.item_quantity');

            quantityDisplay.textContent = parseInt(quantityDisplay.textContent) + 1;
            quantity.value = parseInt(quantityDisplay.textContent);
        });
    });

    document.querySelectorAll('.sub').forEach(item => {
        item.addEventListener('click', event => {
            const quantityDisplay = item.nextElementSibling.querySelector('span');
            const quantity = item.nextElementSibling.querySelector('.item_quantity');

            if (parseInt(quantityDisplay.textContent) > 1) {
                quantityDisplay.textContent = parseInt(quantityDisplay.textContent) - 1;
                quantity.value = parseInt(quantityDisplay.textContent);
            }
        });
    });
{% endjavascript %}

{% schema %}
{
  "name": "Cart Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover",
      "label": "Choisir une image de couverture",
    },
  ],
  "presets": [
    {
      "name": "Cart Page"
    }
  ]
}
{% endschema %}