{% comment %}
    Contenu des pages collection

{% endcomment %}
 
<div class="pt-28 pb-24">
  {% paginate collection.products by 12 %}
    <div class="container">
      {% if paginate.current_page == 1 %}
        {% if collection.metafields.custom.collection_ad_title and collection.metafields.custom.collection_ad_text %}
          {% if collection.metafields.custom.collection_ad_external_link or collection.metafields.custom.collection_ad_internal_link %}
            <a
              {% if collection.metafields.custom.collection_ad_internal_link %}
                href="{{ all_products[collection.metafields.custom.collection_ad_internal_link].url }}"
              {% elsif collection.metafields.custom.collection_ad_external_link %}
                href="{{ collection.metafields.custom.collection_ad_external_link.value }}"
                target="_blank"
              {% endif %}
            >
          {% endif %}
            <div
              class="mb-16 w-full h-[520px] sm:h-auto sm:aspect-square md:aspect-[2.5/1] text-white rounded-md flex items-end justify-start p-4 pb-5 md:p-10 relative"
            >
              {% if collection.metafields.custom.collection_ad_cover %}
                {{ collection.metafields.custom.collection_ad_cover | image_url: width: 1400 | image_tag: class: "rounded-md w-full h-full object-cover object-right absolute top-0 left-0 -z-10 hidden md:block" }}
                {{ collection.metafields.custom.collection_ad_cover_mobile | image_url: width: 768 | image_tag: class: "rounded-md w-full h-full object-cover object-center absolute top-0 left-0 -z-10 md:hidden" }}
              {% endif %}

              <div class="absolute top-0 left-0 -z-10 w-full h-full rounded-md bg-gradient-to-b md:bg-gradient-to-bl from-transparent from-30% md:from-45% to-black"></div>

              <div class="max-w-96 w-full flex flex-col gap-y-3 pt-10">
                <div class="flex flex-col gap-y-4">
                  {{ collection.metafields.custom.collection_ad_logo | image_url: width: 100 | image_tag }}
                  
                  <span class="font-display text-4xl md:text-5xl text-balance uppercase leading-[0.85]">
                    {{ collection.metafields.custom.collection_ad_title }}
                  </span>
                </div>

                <div>
                  {{ collection.metafields.custom.collection_ad_text | metafield_tag }}
                </div>
              </div>
            </div>
          {% if collection.metafields.custom.collection_ad_external_link or collection.metafields.custom.collection_ad_internal_link %}
            </a>
          {% endif %}
        {% endif %}
      {% endif %}

      <div>
        <h1 class="text-3xl sm:text-5xl lg:text-[82px] text-balance leading-0">Nos produits</h1>

        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-3 gap-y-5 sm:gap-y-8">
          {% for product in collection.products %}
            {% render 'product-card', product: product %}
          {% endfor %}
        </div>

        <div class="flex justify-center mt-6">
          <div class="flex justify-center gap-x-2">
            {{ paginate | default_pagination }}
          </div>
        </div>
      </div>
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection Page",
  "settings": [],
  "presets": [
    {
      "name": "Collection Page"
    }
  ]
}
{% endschema %}