{% comment %}
  Section utilisé pour afficher la liste des membres de l'équipe

{% endcomment %}

<div class="container pt-12 pb-20">
  <div class="relative flex items-start gap-x-12">
    <div class="w-full lg:w-3/5 flex flex-col gap-y-10">
      <div class="pt-10 flex flex-col gap-y-4 max-w-xl">
        <div>
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.job }}</p>
        </div>
        <div class="text-balance">
          {{ section.settings.content }}
        </div>
      </div>
  
      <div class="hidden lg:flex flex-col gap-x-2 md:gap-y-3">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'crew-member' %}
              {% render 'accordion-crew'
                  name: block.settings.name
                  job: block.settings.job
                  content: block.settings.content
              %}
          {% endcase %}
        {% endfor %}
      </div>

      <div class="lg:hidden w-full">
        <div class="flex flex-wrap gap-1">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'crew-member' %}
                <button
                  class="button-secondary px-2 py-1 md:py-2 md:px-4 font-semibold tab-button {% if forloop.first %}active{% endif %}"
                  data-tab-id="{{ block.settings.name | split: ' ' | join: '-' | downcase }}-{{ forloop.index }}"
                >
                  {{ block.settings.name }}
                </button>
            {% endcase %}
          {% endfor %}
        </div>

        <div class="pt-6">
          <div class="relative">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'crew-member' %}
                  <div
                    class="tab-content w-full flex flex-col md:flex-row md:items-center gap-x-6 transition-all"
                    data-tab-content="{{ block.settings.name | split: ' ' | join: '-' | downcase }}-{{ forloop.index }}"
                    {% if forloop.first %}
                      style="position: static; display: flex; opacity: 1;"
                    {% endif %}
                  >
                    <div class="max-w-96 md:w-2/5 shrink-0 mb-4 md:mb-0">
                      {{ block.settings.cover | image_url: width: 1000 | image_tag: class: 'aspect-[4/5] object-cover rounded-md' }}
                    </div>
  
                    <div>
                      <p class="font-display uppercase text-xl mb-2 md:mb-3">{{ block.settings.job }}</p>
    
                      <div class="custom-richtext">
                        {{ block.settings.content }}
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="hidden lg:block w-2/5 sticky top-[120px] h-auto">
      <div class="accordions-cover-list aspect-[4/5] rounded-md overflow-hidden">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'crew-member' %}
              {% if block.settings.cover.id %}
                <div class="accordion-cover relative" data-accordion-cover="{{ block.settings.name }}">
                  {{ block.settings.cover | image_url: width: 1200 | image_tag: class: 'absolute aspect-[4/5] object-cover' }}
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .button-secondary.active {
    background-color: #161616;
    border: 1px solid #161616;
    color: #fff;
  }

  .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Crew List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Contenu"
    }
  ],
  "blocks": [
    {
      "name": "Crew Member",
      "type": "crew-member",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Nom & Prénom"
        },
        {
          "type": "text",
          "id": "job",
          "label": "Poste"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contenu"
        },
        {
          "type": "image_picker",
          "id": "cover",
          "label": "Photo de profil"
        },
      ]
    },
  ],
  "presets": [
    {
      "name": "Crew List"
    }
  ]
}
{% endschema %}