{% comment %}
  Section utilisé pour afficher la liste des membres de l'équipe

{% endcomment %}

<div class="container pt-12 pb-20">
  <div class="relative flex items-start gap-x-12">
    <div class="w-3/5 flex flex-col gap-y-10">
      <div class="pt-12 flex flex-col gap-y-4 max-w-xl">
        <div>
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.job }}</p>
        </div>
        <div class="text-balance">
          {{ section.settings.content }}
        </div>
      </div>
  
      <div class="flex flex-col gap-x-2 md:gap-y-3">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'accordion-crew' %}
              {% render 'accordion-crew'
                  name: block.settings.name
                  job: block.settings.job
                  content: block.settings.content
              %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    <div class="w-2/5 sticky top-[120px] h-auto">
      <div class="accordions-cover-list aspect-[4/5] rounded-md overflow-hidden">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'accordion-crew' %}
              {% if block.settings.cover.id %}
                <div class="accordion-cover relative" data-accordion-cover="{{ block.settings.name }}">
                  {{ block.settings.cover | image_url: width: 1200 | image_tag: class: 'absolute aspect-[4/5] object-cover' }}
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Crew List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Contenu"
    }
  ],
  "blocks": [
    {
      "name": "Accordion Crew",
      "type": "accordion-crew",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Nom & Prénom"
        },
        {
          "type": "text",
          "id": "job",
          "label": "Poste"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contenu"
        },
        {
          "type": "image_picker",
          "id": "cover",
          "label": "Photo de profil"
        },
      ]
    },
  ],
  "presets": [
    {
      "name": "Crew List"
    }
  ]
}
{% endschema %}