{% comment %}
  Contenu de la section "ecology-card"

{% endcomment %}

<section 
  id="ecology_wrapper"
  {% if section.settings.cover_image %}
    style="background: url('{{ section.settings.cover_image | image_url: width: 2400 }}') no-repeat center center / cover;"
  {% endif %}
>
    <div id="ecology_overlay" class="absolute top-0 bottom-0 left-0 right-0"></div>

    <div class="container">
        <div class="pt-40 md:pt-28 pb-14">
            <div class="flex flex-col items-bottoms gap-y-8 text-white">
                {% if section.settings.title_style == "display" %}
                    <span
                        class="ecology_title"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </span>
                {% elsif section.settings.title_style == "h2" %}
                    <h2
                        class="text-white"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </h2>
                {% elsif section.settings.title_style == "h3" %}
                    <h3
                        class="text-white"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </h3>
                {% elsif section.settings.title_style == "h4" %}
                    <h4
                        class="text-white"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </h4>
                {% elsif section.settings.title_style == "h5" %}
                    <h5
                        class="text-white"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </h5>
                {% elsif section.settings.title_style == "h6" %}
                    <h6
                        class="text-white"
                        {% if section.settings.test_color %}
                            style="color: {{ section.settings.test_color }};"
                        {% endif %}
                    >
                        {{ section.settings.title }}
                    </h6>
                {% endif %}

                <p
                    class="w-full md:w-3/4 md:min-w-96"
                    {% if section.settings.test_color %}
                        style="color: {{ section.settings.test_color }};"
                    {% endif %}
                >
                    {{ section.settings.text }}
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Ecology Card",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titre"
        },
        {
            "type": "color",
            "id": "test_color",
            "label": "Couleur du texte",
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Style de titre",
            "options": [
                {
                    "value": "display",
                    "label": "Display"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ],
            "default": "display"
        },
        {
            "type": "image_picker",
            "id": "cover_image",
            "label": "Image de fond pour la section ecology"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Contenu"
        }
    ],
    "presets": [
        {
            "name": "Ecology Card",
        }
    ]
}
{% endschema %}