{% comment %}
    Contenu du footer avec la possibilité d'ajouter des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<footer>
    <div 
        id="footer_content"
        class="container"
    >
        <div class="pt-12 pb-16 flex flex-col justify-between gap-y-8 lg:flex-row">
            <div class="w-full">
                Newsletter
            </div>
            
            <div class="w-full max-w-[550px] grid grid-cols-3">
                <div class="flex flex-col gap-y-3">
                    <span class="font-bold">Oceneo</span>
                    <ul>
                        {% for link in linklists.main-menu.links %}
                            <li>
                                {{ link.title | link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="flex flex-col gap-y-3">
                    <span class="font-bold">Plus</span>
                    <ul>
                        {% for link in linklists.footer.links %}
                            <li>
                                {{ link.title | link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="flex flex-col gap-y-3">
                    <span class="font-bold">Nos réseaux</span>
                    <ul>
                        {% if settings.social_instagram_link %}
                            <li>
                                {{ settings.social_instagram_link | link_to: settings.social_instagram_link.url }}
                            </li>
                        {% endif %}
                        {% if settings.social_linkedin_link %}
                            <li>
                                {{ settings.social_linkedin_link | link_to: settings.social_linkedin_link.url }}
                            </li>
                        {% endif %}
                        {% if settings.social_tiktok_link %}
                            <li>
                                {{ settings.social_tiktok_link | link_to: settings.social_tiktok_link.url }}
                            </li>
                        {% endif %}
                        {% if settings.social_youtube_link %}
                            <li>
                                {{ settings.social_youtube_link | link_to: settings.social_youtube_link.url }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div
        id="footer_logo"
        class="bg-dark-gradient"
    >
        <svg class="w-full" viewBox="0 0 1512 350" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_340_1712)">
                <path d="M1345.28 385.857C1337.1 384.9 1332.32 383.966 1327.5 383.823C1271.84 382.411 1234.01 349.332 1231.83 296.028C1229.79 246.242 1229.99 196.289 1231.75 146.503C1233.66 92.194 1281.76 59.8094 1328.08 60.0008C1369.47 60.1923 1400.95 73.3329 1420.89 107.489C1427.32 118.475 1430.81 132.381 1431.09 145.043C1432.19 196.48 1432.44 247.966 1430.99 299.379C1430.56 313.932 1426.29 330.016 1418.6 342.486C1383.26 399.884 1335.97 446.558 1266.61 463.743C1179.43 485.333 1093.85 481.862 1019.55 425.614C963.562 383.225 932.893 327.216 931.913 258.042C931.436 223.743 932.064 189.443 931.637 155.144C931.335 130.227 923.323 108.757 898.481 96.1912C855.754 74.6014 806.548 101.505 806.07 147.437C805.392 210.842 805.844 274.271 805.819 337.675C805.819 351.582 804.237 365.129 791.653 374.368C787.684 377.289 782.233 378.39 777.461 380.304C776.305 375.876 774.145 371.424 774.145 366.996C773.944 273.265 773.994 179.534 774.02 85.8032C774.02 82.6198 773.216 78.838 774.673 76.3727C777.762 71.2505 781.304 64.1895 786.177 62.8252C790.974 61.4848 799.64 64.6443 803.056 68.5937C809.361 75.87 814.259 75.6785 822.222 71.6574C886.449 39.177 959.593 79.8194 961.452 149.28C962.382 184.345 962.281 219.482 961.603 254.572C959.719 350.074 1041.53 441.196 1154.54 445.816C1189.58 447.252 1224.82 448.113 1259.13 437.797C1288.39 429.013 1314.21 414.795 1337.1 395.575C1339.43 393.612 1341.09 390.884 1345.31 385.833L1345.28 385.857ZM1401.85 222.187C1401.85 222.187 1401.8 222.187 1401.78 222.187C1401.78 196.696 1401.9 171.205 1401.75 145.714C1401.62 123.382 1391.55 105.741 1370.28 96.5502C1343.07 84.7979 1315.04 84.3192 1288.74 99.7575C1272.39 109.356 1263.3 123.956 1263.22 142.53C1262.97 195.499 1262.87 248.492 1263.27 301.461C1263.4 318.766 1271.91 332.481 1286.43 343.204C1302.18 354.837 1320.22 355.795 1338.83 355.34C1377.54 354.358 1401.32 331.787 1401.78 295.118C1402.08 270.824 1401.83 246.529 1401.83 222.235L1401.85 222.187Z" fill="white"/>
                <path d="M80.354 222.042C80.354 196.527 80.128 171.036 80.3792 145.521C80.8564 99.4932 119.689 62.0582 167.967 60.8136C192.331 60.1913 216.319 59.904 237.745 74.5046C264.571 92.7673 279.467 117.134 279.768 148.202C280.27 200.764 281.3 253.446 278.16 305.84C275.397 351.677 236.062 382.17 187.785 384.013C145.712 385.593 111.601 373.721 91.0544 337.22C84.9758 326.401 81.5346 313.212 80.8313 300.91C79.2991 274.676 80.354 248.323 80.354 222.018V222.042ZM249.576 222.234C249.927 222.234 250.304 222.234 250.656 222.234C250.656 197.533 250.706 172.831 250.581 148.13C250.581 144.587 249.727 140.997 249.099 137.479C244.376 111.15 222.297 91.6424 194.316 89.5839C185.574 88.9377 176.758 89.0334 167.992 89.3924C135.815 90.7807 110.898 113.974 110.471 144.827C109.742 195.809 109.818 246.816 110.471 297.822C110.823 326.185 130.967 349.02 158.974 353.998C168.318 355.674 178.139 355.458 187.71 355.171C222.272 354.166 246.11 335.018 249.073 302.202C251.46 275.73 249.551 248.898 249.551 222.234H249.576Z" fill="white"/>
                <path d="M732.449 159.739C736.041 208.424 692.259 255.122 632.754 252.178C618.989 251.508 605.124 252.393 591.334 252.058C579.504 251.771 574.555 256.965 574.957 267.999C575.334 277.956 574.756 287.961 575.183 297.894C576.414 325.636 596.383 348.207 624.566 354.095C654.055 360.27 683.242 347.465 696.53 322.5C698.413 318.934 699.293 314.242 702.257 312.016C706.702 308.641 713.886 303.926 717.478 305.338C722.15 307.205 728.204 315.607 727.023 319.269C723.205 331.189 718.558 343.97 710.269 353.257C685.101 381.501 651.593 390.141 614.845 380.4C579.629 371.065 556.922 347.919 548.533 313.429C546.573 305.338 545.594 296.841 545.544 288.536C545.267 245.069 545.091 201.578 545.518 158.112C545.92 117.493 563.051 85.5396 603.617 69.5268C663.7 45.8068 736.618 85.3242 732.499 159.739H732.449ZM575.108 177.619H575.032C575.032 187.959 575.208 198.323 574.982 208.663C574.756 219.051 579.453 224.078 590.706 223.886C609.068 223.575 627.454 223.982 645.841 223.671C660.234 223.431 672.341 217.926 682.89 208.472C701.428 191.861 704.743 170.941 703.286 148.25C701.101 114.286 673.37 89.106 638.381 89.6086C604.647 90.0873 576.64 116.249 575.158 148.968C574.731 158.495 575.083 168.069 575.083 177.619H575.108Z" fill="white"/>
                <path d="M1195.51 157.586C1195.33 214.695 1156.55 251.7 1096.39 252.083C1082.17 252.178 1067.93 252.346 1053.71 252.178C1042.89 252.059 1037.29 256.511 1037.41 267.138C1037.64 289.829 1036.08 312.687 1051.83 332.434C1079.21 366.733 1137.31 362.664 1158.68 324.631C1161.25 320.059 1162.3 314.147 1166.04 310.94C1170.14 307.445 1177.82 303.52 1181.57 305.076C1186.21 306.99 1190.26 314.027 1191.09 319.365C1191.86 324.296 1188.65 330.136 1186.16 335.114C1168.45 370.563 1125.93 390.118 1084.31 382.219C1043.11 374.416 1011.47 340.38 1010.08 300.911C1009.13 273.433 1010.01 245.907 1009.61 218.382C1009.3 197.677 1007.72 176.973 1007.77 156.269C1007.82 126.374 1018.98 100.763 1043.97 81.9019C1073.68 59.4744 1106.99 56.3628 1140.77 70.9634C1179.1 87.5267 1195.58 118.212 1195.53 157.562L1195.51 157.586ZM1037.41 179.056H1037.34C1037.34 189.42 1037.54 199.784 1037.29 210.148C1037.01 221.302 1042.66 226.256 1054.12 225.825C1071.22 225.155 1088.35 224.222 1105.48 223.958C1125.48 223.647 1140.55 215.007 1152.73 200.574C1165.16 185.805 1166.29 168.5 1165.62 150.692C1164.28 115.22 1137.91 89.8963 1101.89 89.6091C1067.63 89.3219 1039.57 115.1 1037.51 149.184C1036.91 159.117 1037.41 169.099 1037.41 179.08V179.056Z" fill="white"/>
                <path d="M319.229 221.468C319.229 197.94 318.827 174.387 319.304 150.859C320.485 94.515 362.156 57.7981 420.832 60.9336C463.659 63.2075 503.12 102.868 503.271 143.726C503.296 152.247 500.156 158.997 490.385 159.978C481.167 160.912 476.52 155.191 475.088 147.316C472.35 132.189 468.331 117.948 456.35 106.435C422.314 73.763 365.296 87.2865 351.983 131.615C350.175 137.671 349.195 144.181 349.17 150.476C348.944 198.347 348.592 246.218 349.17 294.088C349.647 332.648 377.051 356.991 416.562 355.363C443.866 354.214 465.819 336.55 472.601 310.053C473.882 305.027 473.254 298.923 476.093 295.046C479.433 290.474 485.537 285.184 490.536 285.089C494.529 285.017 499.478 291.791 502.467 296.41C504.125 298.971 502.994 303.399 502.517 306.918C496.212 354.07 457.103 385.378 406.842 383.631C358.941 381.979 321.666 346.004 319.556 298.038C318.45 272.546 319.355 246.983 319.355 221.468C319.304 221.468 319.254 221.468 319.204 221.468H319.229Z" fill="white"/>
            </g>
            <defs>
                <clipPath id="clip0_340_1712">
                    <rect width="1512" height="350" fill="white"/>
                </clipPath>
            </defs>
        </svg>            
    </div>
</footer>

{% stylesheet %}
#footer_content ul li a {
    font-size: 16px;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "has_newsletter",
      "label": "Afficher le champ newsletter ?"
    },
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}