{% comment %}
    Contenu du footer avec la possibilité d'ajouter des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<footer>
    <div 
        id="footer_content"
        class="container"
    >
        <div class="pt-12 pb-16 flex flex-col justify-between gap-y-8 lg:flex-row">
            <div class="w-full">
                {% if section.settings.has_newsletter %}
                    {% form 'customer' %}
                        <p class="max-w-72 font-display text-4xl md:text-[42px] uppercase text-balance leading-none mb-4">Restez à jour avec notre newsletter</p>
                        <div class="overflow-hidden max-w-96 flex items-stretch border border-gray-200 rounded-lg text-[14px] sm:text-[16px]">
                            <input class="w-full pl-3 sm:pl-4 py-2" type="email" placeholder="johndoe@mail.com" required name="contact[email]" />
                            <input class="rounded-none py-2 px-4 h-full bg-black text-white" type="submit" value="S'inscrire" />
                        </div>
                    
                    {% endform %}
                {% else %}
                    <img class="w-full max-w-40" src="{{ 'logo-oceneo-black.png' | asset_url }}" />
                {% endif %}
            </div>
            
            <div class="w-full lg:max-w-[550px] grid grid-cols-2 gap-y-10 gap-x-4 sm:grid-cols-3">
                <div class="flex flex-col gap-y-3">
                    <span class="font-bold">Oceneo</span>
                    <ul>
                        {% for link in linklists.main-menu.links %}
                            <li>
                                {{ link.title | link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="flex flex-col gap-y-3">
                    <span class="font-bold">Plus</span>
                    <ul>
                        {% for link in linklists.footer.links %}
                            <li>
                                {{ link.title | link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="flex flex-col gap-y-3 col-span-2 sm:col-auto">
                    <span class="font-bold">Nos réseaux</span>
                    <ul class="grid grid-cols-2 xs:grid-cols-4 sm:grid-cols-1 gap-y-1 gap-x-4 sm:gap-0">
                        {% if settings.social_instagram_link %}
                            <li>
                                <a href="{{ settings.social_instagram_link }}" target="_blank">Instagram</a>
                            </li>
                        {% endif %}
                        {% if settings.social_linkedin_link %}
                            <li>
                                <a href="{{ settings.social_linkedin_link }}" target="_blank">LinkedIn</a>
                            </li>
                        {% endif %}
                        {% if settings.social_tiktok_link %}
                            <li>
                                <a href="{{ settings.social_tiktok_link }}" target="_blank">TikTok</a>
                            </li>
                        {% endif %}
                        {% if settings.social_youtube_link %}
                            <li>
                                <a href="{{ settings.social_youtube_link }}" target="_blank">YouTube</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div
        id="footer_logo"
        class="
            bg-dark-gradient
            {%
                if template.name != "collection"
                and template.name != "collection-list"
            %}
                pb-9
            {% endif %}
            sm:pb-0
        "
    >
        <svg class="w-full" viewBox="0 0 1512 300" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_457_3502)">
                <path d="M171.27 54H160.012C138.766 54 119.758 61.9318 103.485 77.622C87.9 93.2906 80 112.275 80 134.033V259.252C80 280.641 87.8785 299.777 103.485 316.205C119.048 331.526 138.055 339.285 159.99 339.285H171.248C193.183 339.285 212.04 331.505 227.28 316.183C242.844 300.514 250.744 281.357 250.744 259.273V134.055C250.744 111.95 242.844 92.9655 227.28 77.6437C211.696 61.9535 192.86 54 171.27 54ZM171.27 304.935H160.012C146.795 304.935 136.161 300.688 127.443 291.932C118.467 283.22 114.097 272.515 114.097 259.23V134.012C114.097 120.727 118.467 110.021 127.4 101.352C136.635 92.7055 147.591 88.3061 160.012 88.3061H171.27C184.164 88.3061 194.819 92.5538 203.839 101.309C212.815 110.021 217.185 120.727 217.185 134.012V259.23C217.185 272.515 212.815 283.199 203.796 291.976C195.142 300.688 184.487 304.935 171.27 304.935Z" fill="white"/>
                <path d="M370.664 101.721C379.318 92.3587 389.93 87.8077 403.104 87.8077C416.278 87.8077 426.374 92.3587 435.027 101.721L435.242 101.916C441.119 107.225 445.058 114.16 446.974 122.591C447.017 123.349 447.189 124.628 447.792 127.488C448.244 129.656 448.481 131.866 448.481 134.033C448.588 138.476 450.203 142.268 453.259 145.346C456.316 148.423 460.385 150.157 465.013 150.157C469.641 150.157 473.58 148.532 476.766 145.346C479.952 142.16 481.544 138.172 481.544 133.513C481.544 111.755 473.644 92.9439 458.103 77.6437C442.862 61.9535 424.178 54 402.566 54C380.954 54 362.269 61.9535 347.029 77.6437C331.81 93.3123 324.104 112.297 324.104 134.012V259.728C324.104 281.465 331.81 300.428 347.051 316.14C362.269 331.483 380.954 339.242 402.566 339.242C424.178 339.242 442.992 331.483 458.619 316.096C473.838 300.428 481.544 281.443 481.544 259.728C481.544 255.069 479.93 251.081 476.766 247.896C473.601 244.71 469.641 243.085 465.013 243.085C460.385 243.085 456.445 244.71 453.259 247.896C450.095 251.081 448.481 255.069 448.481 259.728C448.481 272.038 444.068 282.765 435.092 292.474C426.438 301.186 415.955 305.434 403.083 305.434C390.21 305.434 379.77 301.078 370.557 292.474C362.011 283.199 357.684 272.19 357.684 259.728V134.012C357.684 121.052 361.903 110.498 370.643 101.699L370.664 101.721Z" fill="white"/>
                <path d="M693.532 79.6808C686.45 72.5509 677.925 66.7862 668.239 62.5169C658.488 58.226 647.983 56.0588 637.005 56.0588C626.026 56.0588 615.522 58.226 605.771 62.5169C596.062 66.7862 587.56 72.5509 580.478 79.6808C573.396 86.8108 567.67 95.3711 563.429 105.145C559.167 114.962 557.014 125.538 557.014 136.59V258.71C557.014 269.762 559.167 280.273 563.429 289.917C567.67 299.517 573.396 308.078 580.456 315.338C587.538 322.663 596.062 328.536 605.792 332.805C615.543 337.096 626.048 339.263 637.026 339.263C654.72 339.263 670.757 334.019 684.749 323.681C698.741 313.344 708.342 299.409 713.314 282.332C714.584 278.106 714.154 273.837 712.087 269.632C709.956 265.385 706.727 262.567 702.443 261.289C698.289 260.032 694.07 260.422 689.958 262.459C685.653 264.236 682.812 267.704 681.52 272.775C678.334 282.657 672.63 290.654 664.558 296.548C656.464 302.465 647.208 305.455 637.026 305.455C623.788 305.455 612.896 301.034 603.726 291.954C594.556 282.895 590.1 272.016 590.1 258.71V227.438H637.026C648.004 227.438 658.509 225.271 668.26 220.98C677.969 216.71 686.493 210.924 693.553 203.816C700.635 196.686 706.383 188.125 710.602 178.352C714.864 168.534 717.016 157.959 717.016 146.906V136.59C717.016 125.538 714.864 114.962 710.602 105.145C706.361 95.3711 700.635 86.8108 693.553 79.6808H693.532ZM683.415 136.59V146.906C683.415 160.212 679.023 171.2 670.004 180.432C661.006 189.664 650.2 194.15 637.005 194.15H590.078V136.59C590.078 123.284 594.534 112.318 603.726 103.086C612.896 93.8541 623.788 89.3464 637.005 89.3464C650.222 89.3464 661.006 93.8324 670.004 103.064C679.023 112.318 683.415 123.284 683.415 136.59Z" fill="white"/>
                <path d="M927.906 77.5787C911.654 61.9318 892.819 54 871.938 54C858.14 54 844.342 57.7709 830.975 65.2259L826.734 67.9565L824.711 63.6005C821.783 57.3158 816.531 54 809.492 54C805.337 54 801.226 55.6254 797.244 58.8328L796.985 59.0712C793.649 62.4302 791.948 66.5045 791.948 71.1639V340.022L795.844 339.198C804.692 337.334 812.01 333.173 817.564 326.824C823.204 320.409 826.045 312.737 826.045 304.069V134.033C826.045 121.074 830.415 110.368 839.434 101.287C848.088 92.5754 858.571 88.3278 871.443 88.3278C884.316 88.3278 895.294 92.5754 904.012 101.331C912.988 110.043 917.358 120.749 917.358 134.033V340.022L921.254 339.198C930.102 337.334 937.42 333.173 942.974 326.824C948.614 320.409 951.455 312.737 951.455 304.069V134.033C951.455 112.297 943.555 93.3123 927.992 77.622L927.949 77.5787H927.906Z" fill="white"/>
                <path d="M1162.86 79.6808C1155.78 72.5509 1147.26 66.7862 1137.57 62.5169C1127.82 58.226 1117.31 56.0588 1106.33 56.0588C1095.36 56.0588 1084.85 58.226 1075.1 62.5169C1065.39 66.7862 1056.89 72.5509 1049.81 79.6808C1042.73 86.8108 1037 95.3711 1032.76 105.145C1028.5 114.962 1026.34 125.538 1026.34 136.59V258.71C1026.34 269.762 1028.5 280.273 1032.76 289.917C1037 299.517 1042.73 308.078 1049.79 315.338C1056.87 322.663 1065.39 328.536 1075.12 332.805C1084.87 337.096 1095.38 339.263 1106.36 339.263C1124.05 339.263 1140.09 334.019 1154.08 323.681C1168.07 313.344 1177.67 299.409 1182.64 282.332C1183.91 278.106 1183.48 273.837 1181.42 269.632C1179.29 265.385 1176.06 262.567 1171.77 261.289C1167.62 260.032 1163.4 260.422 1159.29 262.459C1154.98 264.236 1152.14 267.704 1150.85 272.775C1147.66 282.657 1141.96 290.654 1133.89 296.548C1125.79 302.465 1116.54 305.455 1106.36 305.455C1093.12 305.455 1082.23 301.034 1073.06 291.954C1063.89 282.895 1059.43 272.016 1059.43 258.71V227.438H1106.36C1117.33 227.438 1127.84 225.271 1137.59 220.98C1147.3 216.71 1155.82 210.924 1162.88 203.816C1169.96 196.686 1175.71 188.125 1179.93 178.352C1184.19 168.534 1186.35 157.959 1186.35 146.906V136.59C1186.35 125.538 1184.19 114.962 1179.93 105.145C1175.69 95.3711 1169.96 86.8108 1162.88 79.6808H1162.86ZM1152.74 136.59V146.906C1152.74 160.212 1148.35 171.2 1139.33 180.432C1130.34 189.664 1119.53 194.15 1106.33 194.15H1059.41V136.59C1059.41 123.284 1063.86 112.318 1073.06 103.086C1082.23 93.8541 1093.12 89.3464 1106.33 89.3464C1119.55 89.3464 1130.34 93.8324 1139.33 103.064C1148.35 112.318 1152.74 123.284 1152.74 136.59Z" fill="white"/>
                <path d="M1408.54 77.622C1392.95 61.9535 1374.12 54 1352.5 54H1341.25C1320 54 1300.99 61.9318 1284.72 77.622C1269.16 93.2906 1261.26 112.275 1261.26 134.033V259.252C1261.26 280.641 1269.13 299.777 1284.74 316.205C1300.3 331.526 1319.31 339.285 1341.25 339.285H1352.5C1374.44 339.285 1393.3 331.505 1408.54 316.183C1424.1 300.514 1432 281.357 1432 259.273V134.055C1432 111.95 1424.1 92.9655 1408.54 77.6437V77.622ZM1352.5 304.935H1341.25C1328.03 304.935 1317.4 300.688 1308.68 291.932C1299.7 283.22 1295.33 272.515 1295.33 259.23V134.012C1295.33 120.727 1299.7 110.021 1308.63 101.352C1317.87 92.7055 1328.83 88.3061 1341.25 88.3061H1352.5C1365.4 88.3061 1376.05 92.5538 1385.07 101.309C1394.05 110.021 1398.42 120.727 1398.42 134.012V259.23C1398.42 272.515 1394.05 283.199 1385.03 291.976C1376.38 300.688 1365.72 304.935 1352.5 304.935Z" fill="white"/>
            </g>
            <defs>
                <clipPath id="clip0_457_3502">
                    <rect width="1512" height="300" fill="black"/>
                </clipPath>
            </defs>                
        </svg>            
    </div>
</footer>

{% stylesheet %}
#footer_content ul li a {
    font-size: 16px;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "has_newsletter",
      "label": "Afficher le champ newsletter ?",
      "default": true
    },
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}