{% comment %}
    Contenu de la page home avec des paramètres à définir dans les settings de Shopify

{% endcomment %}
 
<div>
    <section id="home_hero">
        <img class="w-screen h-svh object-cover object-bottom" src="{{ 'home-cover.jpg' | asset_url }}" />
    </section>

    <div class="container">
        <section id="home_intro">
            {% if section.settings.intro != blank %}
                test
                <p class="pt-24 pb-28 max-w-3xl mx-auto font-normal text-3xl leading-snug indent-16 text-justify">
                    {{ section.settings.intro }}
                </p>
            {% else %}
                <p class="pt-24 pb-28 max-w-3xl mx-auto font-normal text-3xl leading-snug indent-16 text-justify">
                    Nos lunettes de soleil, fabriquées artisanalement sur le Bassin d'Arcachon, utilisent des combinaisons de surf recyclées et une résine naturelle à base d'huile de pin. Chaque paire est unique, alliant des matériaux durables pour un style écoresponsable.
                </p>
            {% endif %}
        </section>
    
        <section
            id="home_unique"
            class="pb-24 grid grid-cols-1 items-center gap-4 lg:grid-cols-2 md:gap-16"
        >
            <img
                src="{{ 'home-unique.jpg' | asset_url }}"
                class="rounded-md shadow-md"
            />
            
            <div class="flex flex-col items-start gap-y-8">
                <h2>Chaque paire est unique</h2>
                <p>
                    Chaque paire est fabriquée de manière artisanale à partir de combinaisons de surf recyclées. Les couleurs et les motifs de nos lunettes proviennent directement des designs des combinaisons, ce qui rend chaque produit véritablement unique.
                    De plus, nous offrons aussi la possibilité de revaloriser votre propre combinaison en une paire de lunettes personnalisée. Vous pouvez ainsi donner une seconde vie à votre combinaison préférée tout en obtenant un accessoire élégant, unique et écologique.
                </p>
                {% if settings.main_cta != blank %}
                    <a href="{{ settings.main_cta }}" class="button-primary">
                        Je crée ma paire
                    </a>
                {% endif %}
            </div>
        </section>

        <section
            id="home_lifestyle"
            class="pb-24 grid grid-cols-1 items-center gap-5 lg:grid-cols-2"
        >
            <div
                class="flex flex-col items-start gap-y-10 pt-40"
            >
                <img class="w-full rounded-md shadow-md aspect-[3/3.7] object-cover" src="{{ 'home-lifestyle-1.jpg' | asset_url }}" />
                <img class="w-full rounded-md shadow-md aspect-[3/3.7] object-cover" src="{{ 'home-lifestyle-2.jpg' | asset_url }}" />
            </div>
            
            <div
                class="flex flex-col items-start gap-y-10"
            >
                <img class="w-full rounded-md shadow-md aspect-[3/3.7] object-cover" src="{{ 'home-lifestyle-3.jpg' | asset_url }}" />
                <img class="w-full rounded-md shadow-md aspect-[3/3.7] object-cover" src="{{ 'home-lifestyle-4.jpg' | asset_url }}" />
            </div>
        </section>
    </div>

    <section
        id="home_infos"
        class="pb-24 bg-dark-gradient text-white"
    >
        <div class="container">
            <div class="pt-20 flex flex-col gap-y-24">
                <div
                    id="home_video"
                    class="max-w-screen-lg w-full mx-auto flex flex-col gap-y-14"
                >
                    <div class="w-2/3 mx-auto flex flex-col items-center text-center">
                        <h2 class="text-white leading-none">Un savoir-faire made in Bassin d'Arcachon*</h2>
                        <p class="text-[#FC9E4F]">*(et made in France)</p>
                    </div>

                    <div class="text-center">
                        Video here
                    </div>
                </div>
                
                <div id="home_bento">
                    Bento here
                </div>
            </div>
        </div>
    </section>

    {% render 'ecology-card' %}
</div>

{% schema %}
{
  "name": "Home",
  "settings": [
    {
      "type": "text",
      "id": "intro",
      "label": "Texte pour la partie intro"
    },
  ],
  "presets": [
    {
      "name": "Home"
    }
  ]
}
{% endschema %}