{% comment %}
  Renders a text section for media talking about Oceneo.
  
{% endcomment %}

{% if section.blocks.size > 0 %}
  <section
    class="pt-16 pb-20 overflow-clip"
    style="background-color: {{ section.settings.bg_color }}"
  >
    <div class="container">
      <h2 class="mb-6">{{ section.settings.title }}</h2>
    </div>

    <div class="media-item-wrapper flex justify-start flex-nowrap" data-time="{{ section.settings.marquee_time }}">
      {% for i in (1..2) %}
        <div class="media-item-element flex flex-nowrap justify-start shrink-0 opacity-50">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'media-item' %}
                {% if block.settings.link_to != blank %}
                  <a target="_blank" href="{{ block.settings.link_to }}" class="pr-5 md:pr-10">
                    {{ block.settings.image_content | image_url: height: 260 | image_tag: class: "max-w-[180px] md:max-w-[250px] max-h-[90px] md:max-h-[130px] w-full h-full object-contain" }}
                  </a>
                {% else %}
                  {{ block.settings.image_content | image_url: height: 260 | image_tag: class: "max-w-[180px] md:max-w-[250px] max-h-[90px] md:max-h-[130px] pr-5 md:pr-10 w-full h-full object-contain" }}
                {% endif %}
              {% endcase %}
            {% endfor %}
          </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Media",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond"
    },
    {
      "type": "range",
      "id": "marquee_time",
      "label": "Temps de défilement",
      "min": 1,
      "max": 60,
      "step": 1,
      "default": 40
  }
  ],
  "blocks": [
    {
      "type": "media-item",
      "name": "Media Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_content",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_to",
          "label": "Lien associé"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media",
    }
  ]
}
{% endschema %}