{% comment %}
    Contenu de la page produit

{% endcomment %}

{% assign current = product.selected_or_first_available_variant %}
 
<div>
    <section id="product_hero">
        <div class="flex flex-nowrap items-stretch overflow-scroll">
            {% if current.featured_image %}
                <div class="w-auto shrink-0 h-[400px] sm:h-[500px] lg:h-[600px] xl:h-[700px]">
                    {{ current.featured_image | image_url: height: 700 | image_tag: class: 'h-full w-auto' }}
                </div>
            {% endif %}

            {% for image in product.images %}
                {% if image.id != current.featured_image.id %}
                    {% comment %} Allow to filter image by alt tag for variants {% endcomment %}
                    {% if image.alt == current.featured_image.alt or image.alt == product.title %}
                        <div class="w-auto shrink-0 h-[400px] sm:h-[500px] lg:h-[600px] xl:h-[700px]">
                            {{ image | image_url: height: 700 | image_tag: class: 'h-full w-auto' }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
    
    <div class="container">
        <section
            id="product_info"
            class="pt-10 pb-14 md:pb-24 grid grid-cols-1 lg:grid-cols-12 items-start"
            {% if product.images.size <= 0 %}
                style="padding-top: 120px;"
            {% endif %}
        >
            <div class="row-start-2 row-end-3 mt-8 lg:mt-0 lg:row-start-1 lg:row-end-2 lg:col-start-1 lg:col-end-8 flex flex-col gap-y-8">
                <div class="flex flex-col gap-y-7">
                    <h1 class="text-4xl sm:text-5xl md:text-[82px] text-balance leading-[0.9]">{{ product.title }}</h1>

                    <div>
                        {{ product.description }}
                    </div>
                </div>

                <div class="flex flex-col gap-y-4">
                    {% for block in section.blocks %}
                        {% if block.type == 'accordion-block' %}
                            {% render 'accordion'
                                title: block.settings.title
                                content: block.settings.content
                                type: block.settings.type
                            %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
            <div class="row-start-1 row-end-2 lg:col-start-9 lg:col-end-13 lg:sticky lg:top-28">
                {% form 'product', product %}
                    <!-- form content -->
                    <div class="flex flex-col gap-y-3 sm:gap-y-6">
                        <h2 data-spark="b2c-only" class="text-3xl sm:text-[42px]">{{ current.price | money }}</h2>
    
                        {% if product.has_only_default_variant == false %}
                            <div>
                                <spark-product-matrix parent-id="{{ product.id }}"></spark-product-matrix>

                                <div data-spark="b2c-only" class="flex flex-col gap-y-4">
                                    {% for option in product.options_with_values %}
                                        <div class="flex flex-col gap-y-2">
                                            <p class="font-semibold">{{ option.name }}</p>
        
                                            <div class="w-full flex flex-wrap gap-x-2 gap-y-1">
                                                {% for value in option.values %}
                                                    {% if value.available %}
                                                        <a 
                                                            class="
                                                                {% comment %} {% if value.variant.selected %} {% endcomment %}
                                                                {% if value.variant.id == current.id %}
                                                                    bg-black text-white
                                                                {% else %}
                                                                    text-black
                                                                {% endif %}
                                                                border border-black px-2 py-1 rounded
                                                            "
                                                            href="{{ value.variant.url }}"
                                                        >
                                                            {{ value.name }}
                                                        </a>
                                                    {% else %}
                                                        <span class="border border-black text-black opacity-25 px-2 py-1 rounded">{{ value.name }}</span>
                                                    {% endif %}
    
                                                    {% if value.variant.id == current.id %}
                                                        {% comment %} {% if value.variant.selected %} {% endcomment %}
                                                        <input type="hidden" name="id" value="{{ value.variant.id }}" />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <spark-pdp mode-all-variants parent-id="{{ product.id }}"></spark-pdp>
                            <input data-spark="b2c-only" type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        {% endif %}
    
                        
                        <div data-spark="b2c-only"  class="pt-4 flex flex-col gap-y-3">
                            <input type="hidden" name="quantity" value="1">

                            <div>
                                <svg class="svg-tryon hidden" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.3101 8L20.0501 17.94" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.68994 8H21.1699" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.37988 11.9996L13.1199 2.05957" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.6902 15.9996L3.9502 6.05957" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.3101 16H2.83008" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.6199 12L10.8799 21.94" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    

                                {% for block in section.blocks %}
                                    {% case block.type %}
                                      {% when '@app' %}
                                        {% render block %}
                                    {% endcase %}
                                {% endfor %}
                            </div>

                            {% if product.available %}
                                <button type="submit" class="button-primary lg:is-heading-font w-full rounded-none lg:rounded border-0 border-t border-[#ffffff55] lg:border-0 fixed bottom-0 left-0 right-0 lg:static">Ajouter au panier</button>
                            {% else %}
                                <button class="button-primary opacity-90 cursor-not-allowed lg:is-heading-font w-full rounded-none lg:rounded border-0 border-t border-[#ffffff55] lg:border-0 fixed bottom-0 left-0 right-0 lg:static" disabled>En rupture de stock</button>
                            {% endif %}

                            <small class="hidden lg:block text-xs text-center">Livraison gratuite pour les commandes supérieures à 200€</small>
                        </div>
                    </div>
                {% endform %}
            </div>
        </section>
        
        <section id="product_plus">
            {% for block in section.blocks %}
                {% if block.type == 'product-plus-block' %}
                    {% render 'product.plus'
                        title: block.settings.title
                        content: block.settings.content
                        image_1: block.settings.image_1
                        image_2: block.settings.image_2
                    %}
                {% endif %}
            {% endfor %}
        </section>
    </div>
</div>

{% schema %}
{
  "name": "Product",
  "settings": [],
  "blocks": [
    {
        "type": "@app"
    },
    {
        "name": "Accordion",
        "type": "accordion-block",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Titre"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Contenu"
            },
            {
                "type": "select",
                "id": "type",
                "label": "Type",
                "options": [
                    {
                        "value": "strong",
                        "label": "Texte gras"
                    },
                    {
                        "value": "h2",
                        "label": "H2"
                    },
                    {
                        "value": "h3",
                        "label": "H3"
                    },
                    {
                        "value": "h4",
                        "label": "H4"
                    },
                    {
                        "value": "h5",
                        "label": "H5"
                    },
                    {
                        "value": "h6",
                        "label": "H6"
                    }
                ],
                "default": "strong"
            }
        ]
    },
    {
        "name": "Produit - Plus",
        "type": "product-plus-block",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Titre"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Contenu"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "Image 1"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image 2"
            },
        ]
    },
  ],
  "presets": [
        {
            "name": "Product"
        }
  ]
}
{% endschema %}