{% comment %}
  Renders a split section.

{% endcomment %}

{% if section.settings.title != blank and section.settings.text != blank %}
    <div class="container">
        <section class="pt-10 pb-10 md:pb-16 grid grid-cols-1 justify-start gap-8 lg:grid-cols-2">
            {% if section.settings.title_position == "right" %}
                <h2 class="lg:hidden">{{ section.settings.title }}</h2>
            {% endif %}
            
            {% if section.settings.title_position == "left" %}
                <h2 class="pr-0 md:pr-12">{{ section.settings.title }}</h2>
            {% endif %}
        
            <div class="flex flex-col items-start gap-y-6 md:gap-y-8">
                <div class="pt-1 custom-richtext">
                    {{ section.settings.text }}
                </div>
        
                {% if section.settings.link_to != blank %}
                    <a href="{{ section.settings.link_to }}" class="button-primary">
                        {{ section.settings.link_text }}
                    </a>
                {% endif %}
            </div>

            {% if section.settings.title_position == "right" %}
                <h2 class="hidden lg:block text-right">{{ section.settings.title }}</h2>
            {% endif %}
        </section>
    </div>
{% endif %}

{% schema %}
{
    "name": "Split Section Title",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titre"
        },
        {
            "type": "select",
            "id": "title_position",
            "label": "Position du titre",
            "options": [
                {
                    "value": "left",
                    "label": "Gauche"
                },
                {
                    "value": "right",
                    "label": "Droite"
                }
            ],
            "default": "left"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Contenu"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Texte du lien"
        },
        {
            "type": "url",
            "id": "link_to",
            "label": "Lien"
        }
    ],
    "presets": [
        {
            "name": "Split Section Title",
            "category": "Section",
        }
    ]
}
{% endschema %}